// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$link-decoration: none !default;
$link-color: #916d02 !default;
$link-hover-color: #d5a005 !default;
